/* GLOBAL STYLES BEGIN */
*{
    box-sizing: border-box;
}

html,body {
  margin: 0;
  padding:0;
  font-family:'Courier New', Courier, monospace;
  background-color: #FFF;
}



img {
  width: 100%;
  height: auto;
  object-fit:cover;
  object-position: center;
}
/* GLOBAL STYLES END */

main {
    width:100vw;
    height:100vh;
}

.img_container{
    position: absolute;
    top:0;
    left:0;

    margin:0;
    padding:0;

    /* width and height of chrome and safari */
    /* on lg macbook, in minimized window */
    width:1470px;
    height:742px;
    overflow:hidden;
}

/* dev_indicator is to help the dev (me) tell which piece is which */
.dev_indicator{
    /* not displayed to player */
    display: none;

    /* default styling */
    position: fixed;
    top: 10px;
    right:0;
    width: 575px;
    height: 50px;
    background-color: #555;
    z-index: 99999;
}

/* VERTICAL BARS OF GRID */
/* top and bottom bars are opaque white */
/* middle bar is a window for the image to appear */
.vert_container{
    position:absolute;
    top:0;
    left:0;
    display: flex;
    width:1470px;
    height:742px;
    padding:0;
    margin:0;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

/* left */
.vert_barL{
    display: block;
    width:0px;
    height: 742px;
    background-color: #FFF;
}

/* middle */
.vert_barM{
    display: block;
    width:0px;
    height: 742px;
    background-color: rgba(0,0,0,0);
}

/* right */
.vert_barR{
    display: block;
    width:0px;
    height: 742px;
    background-color: #FFF;
}

/* HORIZONAL BARS OF GRID */
/* top and bottom bars are opaque white */
/* middle bar is a window for the image to appear */
.horz_container{
    position:absolute;
    top:0;
    left:0;

    display: flex;
    width:1470px;
    height:742px;
    padding:0;
    margin:0;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.horz_barT{
    display: block;
    width: 1470px;
    height:0px;
    background-color: #FFF;
}

.horz_barM{
    display: block;
    width: 1470px;
    height: 0px;
    background-color: rgba(0,0,0,0);
}

.horz_barB{
    display: block;
    width: 1470px;
    height:0px;
    background-color: #FFF;
}

.text{
    display: none;
    position: absolute;
    color:#000;
    z-index: 99;
    padding:0;
    margin:0;
}

#textA{
    display:none;
}

.welcome{
    display: none;
    width:100%;
    background-color: rgb(150, 150, 200);
    color: rgb(10,10,50);
}

/* if the width of the screen is too small, error div will display */
.error{
    display: none;
    width:100%;
    background-color: rgb(150, 0, 0);
    color: #FFF;
}

.dev_indicator{
    background-color: #000;
}



/* MEDIA QUERIES BEGIN */
/* larger than 1500px: OUT OF BOUNDS */
/* for both chrome and safari */
@media screen and (width > 1400px){


.welcome{
    display:block;
}

main{
    display:none;
}

.text{
    display:none;
}

.error{
    display:none;
}
}

/* PIECE A: PINK */
/* largest div: 1400px */
/* lower left piece: 25% width, 35% height */

@media screen and (width <= 1400px){

.text{
    display: none;
}

.vert_barL{
    /* nothing on the left */
    width: 0;
}

.vert_barM{
    /* image is 25% (367.5px) */
    width: 367.5px;
}

.vert_barR{
    /* 75% (1102.5) */
    width:1102.5px;
}

.horz_barT{
    /* 40% + 25% -- 65% (482.3px) */
    height:482.3px;    
}

/* text here */
/* by default, turns every text div off */
#textA, #textB, #textC, #textD, #textE, #textF, #textG{
    display:none;
}

/* then, override with styling */
#textA{
    display: inline-block;

    height: 259.7px;
    width: 367.5px;
    padding: 10px;

    font-size: 1rem;
    color: rgb(200,50,50);
    top: 430.3px;
    left: 10px;
}

.horz_barM{
    /* image is 35% (259.7) */
    height: 259.7px;
}

.horz_barB{
    /* nothing on the bottom */
    height: 0px;
}

.dev_indicator {
    background-color: pink;
}

.error{
    display: none;
}
}



/* PIECE B: RED */
/* 1440px is laptop L conventional size */
/* bottom middle piece: 50 width, 35 height */
@media screen and (width <= 1300px){


.vert_barL{
    /* 25% on the left (367.5) */
    width: 367.5px;
}

.vert_barM{
    /* image is 50% (735px) */
    width: 735px;
}

/* text here */
/* by default, turns every text div off */
#textA, #textB, #textC, #textD, #textE, #textF, #textG{
    display:none;
}

/* then style */
#textB{
    display: inline-block;

    height: 259.7px;
    width: 735px;
    padding: 10px;

    text-orientation: sideways;
    writing-mode: vertical-rl;

    rotate: 180deg;

    font-size: 1rem;

    top: 482.3px;
    left: 1102.5px;
}

.vert_barR{
    /* 25% (367.5) */
    width:367.5px;
}

.horz_barT{
    /* 40% + 25% -- 65% (482.3px) */
    height:482.3px;    
}

.horz_barM{
    /* image is 35% (259.7) */
    height: 259.7px;
}

.horz_barB{
    /* nothing on the bottom */
    height: 0px;
}

.dev_indicator {
    background-color: red;
}

.error{
    display: none;
}
}



/* PIECE C: ORANGE */
/* bottom right: 25w, 35h */
@media screen and (width <= 1200px){

main{
    translate: -1100px;
}

#textC{
    translate: -1100px;
}

.vert_barL{
    /* 75% on the left (1102.5) */
    width: 1102.5px;
}

.vert_barM{
    /* image is 25% (367.5px) */
    width: 367.5px;
}

.vert_barR{
    /* nothing on the right */
    width:0px;
}

.horz_barT{
    /* 40% + 25% -- 65% (482.3px) */
    height:482.3px;    
}

.horz_barM{
    /* image is 35% (259.7) */
    height: 259.7px;
}

.horz_barB{
    /* nothing on the bottom */
    height: 0px;
}

/* by default, turns every text div off */
#textA, #textB, #textC, #textD, #textE, #textF, #textG{
    display:none;
}

#textC{
    display: inline-block;

    height: 259.7px;
    width: 367.5px;
    padding: 10px;

    font-size: 1rem;

    top: 390.3px;
    left: 1100px;
}

.dev_indicator {
    background-color: orange;
}

.error{
    display: none;
}
}


/* PIECE D: YELLOW */
/* right middle: 50% width, 25% height */
@media screen and (width <= 1100px){

main{
    translate: 0px;
}

.vert_barL{
    /* 50% on left (735) */
    width: 735px;
}

.vert_barM{
    /* image is 50% (735px) */
    width: 735px;
}

.vert_barR{
    /* nothing on right */
    width:0px;
}

.horz_barT{
    /* 40% on top (296.8px) */
    height:296.8px;    
}

.horz_barM{
    /* image is 25% (185.5) */
    height: 185.5px;
}

.horz_barB{
    /* 35% on bottom (296.8px) */
    height: 296.8px;
}


/* by default, turns every text div off */
#textA, #textB, #textC, #textD, #textE, #textF, #textG{
    display:none;
}

#textD{
    display: inline-block;

    height: 259.7px;
    width: 300.5px;
    padding: 10px;

    font-size: 1rem;

    top: 350px;
    left: 430px;
}

.dev_indicator {
    background-color: yellow;
}

.error{
    display: none;
}
}


/* PIECE E: YELLOW-GREEN */
/* left middle: 50% width, 25% height */
@media screen and (width <= 1000px){


main{
    translate: 1100px;
}

#textE{
    translate: 1100px;
}

.vert_barL{
    /* nothing on the left */
    width: 0;
}

.vert_barM{
    /* image is 50% (735px) */
    width: 735px;
}

.vert_barR{
    /* 50% (735) */
    width:735px;
}

.horz_barT{
    /* 40% (296.8px) */
    height:296.8px;    
}

.horz_barM{
    /* image is 25% (185.5) */
    height: 185.5px;
}

.horz_barB{
    /* 35% (296.8px) */
    height: 296.8px;
}

/* by default, turns every text div off */
#textA, #textB, #textC, #textD, #textE, #textF, #textG{
    display:none;
}

#textE{
    display: inline-block;

    height: 259.7px;
    width: 750px;
    padding: 10px;

    font-size: 1rem;

    top: 220px;
    left: 5px;
}

.dev_indicator {
    background-color: yellowgreen;
}

.error{
    display: none;
}

}



/* PIECE F: GREEN */
/* upper right corner: 33%w x 40%h */
@media screen and (width <= 900px){

main{
    translate: 0px;
}

.vert_barL{
    /* 66% (980px) */
    width: 980px;
}

.vert_barM{
    /* image is 33% (490px) */
    width: 490px;
}

.vert_barR{
    /* nothing on the right */
    width:0;
}


.horz_barT{
    /* nothing on the top */
    height:0;    
}


.horz_barM{
    /* image is 40% (296.8) */
    height: 296.8px;
}


.horz_barB{
    /* 60% (445.2px) */
    height: 445.2px;
}

/* by default, turns every text div off */
#textA, #textB, #textC, #textD, #textE, #textF, #textG{
    display:none;
}

#textF{
    display: inline-block;

    text-orientation: sideways;
    writing-mode: vertical-rl;

    height: 300px;
    width: 750px;
    padding: 10px;

    font-size: 1rem;

    top: 5px;
    left: 230px;
}

.dev_indicator {
    background-color: green;
}

.error{
    display: none;
}

}


/* PIECE G: TURQUOISE */
/* upper left, 33%w 40%h */
@media screen and (width <= 800px){

.vert_barL{
    /* nothing on the left */
    width: 0px;
}

.vert_barM{
    /* image is 33% (490px) */
    width: 490px;
}

.vert_barR{
    /* 66% on the right (980px) */
    width:980px;
}

.horz_barT{
    /* nothing on the top */
    height:0;    
}

.horz_barM{
    /* image is 40% (296.8) */
    height: 296.8px;
}

.horz_barB{
    /* 60% (445.2px) */
    height: 445.2px;
}


/* by default, turns every text div off */
#textA, #textB, #textC, #textD, #textE, #textF, #textG{
    display:none;
}

#textG{
    display: inline-block;

    rotate: 180deg;
    text-orientation: sideways;
    writing-mode: vertical-rl;

    height: 300px;
    width: 750px;
    padding: 10px;

    font-size: 1rem;

    top: 5px;
    left: 490px;
}

.dev_indicator {
    background-color: turquoise;
}

.error{
    display: none;
}
}

/* PIECE H: BLUE */
/* upper middle: 33w 40h */
/* 800px */
@media screen and (width <= 700px){


.vert_barL{
    /* 33% on left (490) */
    width: 490px;
}

.vert_barM{
    /* image is 33% (490px) */
    width: 490px;
}

.vert_barR{
    /* 33% on the right (490px) */
    width:490px;
}

.horz_barT{
    /* nothing on the top */
    height:0;    
}

.horz_barM{
    /* image is 40% (296.8) */
    height: 296.8px;
}

.horz_barB{
    /* 60% (445.2px) */
    height: 445.2px;
}


/* by default, turns every text div off */
#textA, #textB, #textC, #textD, #textE, #textF, #textG{
    display:none;
}

#textH{
    display: inline-block;

    height: 300px;
    width: 510px;
    padding: 10px;

    font-size: 0.95rem;

    top: 70px;
    left: 492px;
    color: #FFF;
}


.dev_indicator {
    background-color: mediumblue;
}
    
.error{
    display: none;
}

}
  


/* 575px in min for SAFARI */
/* 500px in min for CHROME */
/* smaller than 550px: OUT OF BOUNDS */
@media screen and (width < 550px){


main {
    display:none;
}

.error{
    display:block;
}

#textA, #textB, #textC, #textD, #textE, #textF, #textG, #textH{
    display:none;
}


    
}




